*{
    margin: 0 auto;
    padding: 0;
}
header{
    width: 100%;
    padding: 10px;
    text-align: center;
    /*background-color:#A1FFB2;*/
}

main{
    width: 980px;
    text-align: center;
}
article{
    border: 1px solid #A9FFF7;
    border-radius: 10px;
    width: 40%;
    font-size: 1.5em;
    padding: 1% 5%;
}
section{
    text-align: left;
}
th{
    background: #92E8A9;
    border-collapse: collapse;
    border: 1px solid green;
    padding: 10px;
    text-align: center;
}
table{
    margin-top: 10px;
    border-collapse: collapse;
}
caption{
    font-size: 1.5em;
    color:green;
}
#mensajeError{
    color: red;
}
#secundario{
    display: none;
}
tbody>tr:nth-child(even){
    background-color: #96FF94;
}
td{
    border: 1px solid black;
    padding: 5px;
}
input{
    border-radius: 5px;
    font-size: 1.3em;
}
body{
    width: 100%;
    height: 100%;
    min-height: 720px;
    background: linear-gradient(to left,  rgba(210,255,82,1) 0%, rgba(148,255,207,1) 100%);
}
