*{
    margin: 0 auto;
    padding: 0px;
}
header{
    text-align: center;
    font-size: 5em;
    right: 400px;
}
header>img{
    position: relative;
    height: 150px;
    width: auto;
    top: 25px;
}
header>input{
    position: relative;
    left: 100px;
    padding: 1%;
    border-radius: 3px;
    font-size: 0.3em;
}
main{
    text-align: center;
}
article>form>input{
    font-size: 2em;
    margin: 10px 0px;
    padding: 1.5% 3%;
}
#muestraReloj{
    font-size: 7em;
}
#alarma{
    display: none;
    position: fixed;
    left:2%;
    background: white;
    top: 10%;
    z-index: 3;
    width: 20%;
    height: auto;
    text-align: center;
    border: 2px dashed tomato;
    border-radius: 10px;
}
#settings{
    display: none;
    position: fixed;
    left:25%;
    background: white;
    top: 10%;
    z-index: 3;
    width: 20%;
    border-radius: 10px;
    height: auto;
    text-align: center;
    border: 2px dashed tomato;
}
#tasks,#interruptions{
    display: none;
    position: fixed;
    left:25%;
    background: white;
    top: 20%;
    z-index: 3;
    width: 50%;
    height: auto;
    font-size: 2em;
    border: 2px dashed tomato;
    border-radius: 10px;
}
#tasks>input,#interruptions>input{
    font-size: 0.7em;
    width: 70%;
    margin: 2% 14%;
}
#interruptions>input[type="number"]{
    width: 32.5%;
    margin: 2% 2% 2% 1%;
}

table{
    font-size: 1.5em;
    margin-top: 100px;
    border-collapse: collapse;
}
th,td{
    border-collapse: collapse;
    border:1px solid;
    border-color: darkred;
    width: 100px;
    padding: 2px 5px;
}
tr{
    width: 100%;
    background-color: tomato;
}
tr:nth-child(even){
    background-color: white;
}
#edt>input:first-child, #mt>input:first-child{
    border-radius: 10px 0px 0px 10px;
    box-shadow: -5px 2px grey;
}
#edt>input:last-child,#mt>input:last-child{
    border-radius: 0px 10px 10px 0px;
}
